<header>
    <div class="logo-left">
        <img src="../../assets/img/pokeball.png">
    </div>
    <div class="title">
        <img src="../../assets/img/pokedex-logo.png">
    </div>
    <div class="logo-right">
        <img src="../../assets/img/pikachu.png">
    </div>
</header>
<section>
    
</section>
<footer>
    <div class="author">Ismael Carazo Fernández</div>
    <div class="author">Miguel Sánchez Pérez</div>
    <div class="author">Irene Rodríguez Rodríguez</div>
    <div class="author">Cristian Orgaz Portero</div>
    <div class="author">Laura Romero Pérez</div>
    <div class="copyright"> <b>All right reserved ©</b></div>
</footer>
