<body>
<header>
    <div class="logo-left"> 
        <img src="../../assets/img/pokeball.png">
    </div>
    <div class="title"> PoKeAngular
        <!-- <img src="../../assets/img/Poke.png"> -->
    </div>
    <div class="logo-right">
        <img src="../../assets/img/pikachu.png">
    </div>
</header>
<section>
    <app-pokedex></app-pokedex>
</section>
<footer>
    <div class="author">Ismael Carazo Fernández</div>
    <div class="author">Miguel Sánchez Pérez</div>
    <div class="author">Irene Rodríguez Rodríguez</div>
    <div class="author">Cristian Orgaz Portero</div>
    <div class="author">Laura Romero Pérez</div>
    <div class="copyright"> <b>All right reserved ©</b></div>
</footer>
</body>
