.person{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    :hover{
            background-color: white;
        }
}
    .person--container{
        display: flex;
        align-content: space-around;
        
        background-color: slateblue;

        width: 200px;
        border-radius: 2px;
        
    }
.linkedIn{
    height: 4vh;
    width: 2vw;

}
