<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Us</title>
  </head>
  <body>
    <div class="person">
      <div class="person--container">
        <div class="avatar"></div>
        <span class="name">Ismael Carazo Fernandez</span
        ><a href="https://es.linkedin.com/"
          ><img
            class="linkedIn"
            src="../../assets/linkedin.png"
            alt="linkedIn icon"
        /></a>
      </div>
      <div class="person--container">
        <div class="avatar"></div>
        <span class="name">Cristian Orgaz Portero</span
        ><a href="https://es.linkedin.com/"
          ><img
            class="linkedIn"
            src="../../assets/linkedin.png"
            alt="linkedIn icon"
        /></a>
      </div>
      <div class="person--container">
        <div class="avatar"></div>
        <span class="name">Irene Rodríguez Rodríguez</span
        ><a href="https://es.linkedin.com/"
          ><img
            class="linkedIn"
            src="../../assets/linkedin.png"
            alt="linkedIn icon"
        /></a>
      </div>
      <div class="person--container">
        <div class="avatar"></div>
        <span class="name">Laura Romero Pérez</span
        ><a href="https://es.linkedin.com/"
          ><img
            class="linkedIn"
            src="../../assets/linkedin.png"
            alt="linkedIn icon"
        /></a>
      </div>
      <div class="person--container">
        <div class="avatar"></div>
        <span class="name">Miguel Sánchez Pérez</span
        ><a href="https://es.linkedin.com/"
          ><img
            class="linkedIn"
            src="../../assets/linkedin.png"
            alt="linkedIn icon"
        /></a>
      </div>
    </div>
  </body>
</html>
