<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
    <div  class='person'>
   <ul>
        <li class='person--container'><span>Ismael Carazo Fernandez</span> <a href="https://es.linkedin.com/"><img class= 'linkedIn' src='../../assets/linkedin.png' alt="linkedIn icon"></a></li>
        <li class='person--container'><span>Cristian Orgaz Portero</span><a href="https://es.linkedin.com/"><img class= 'linkedIn' src='../../assets/linkedin.png' alt="linkedIn icon"></a></li>
        <li class='person--container'><span>Irene Rodríguez Rodríguez</span><a href="https://es.linkedin.com/"><img class= 'linkedIn' src='../../assets/linkedin.png' alt="linkedIn icon"></a></li>
        <li class='person--container'><span>Laura Romero Pérez</span><a href="https://es.linkedin.com/"><img class= 'linkedIn' src='../../assets/linkedin.png' alt="linkedIn icon"></a></li>
        <li class='person--container'><span>Miguel Sánchez Pérez</span><a href="https://es.linkedin.com/"><img class= 'linkedIn' src='../../assets/linkedin.png' alt="linkedIn icon"></a></li>
         
   </ul>
</div>
</body>
</html>
