<div class="list">
  <div class="title">PoKeList</div>
  <div class="list--box">
    <br>
    <select (change)="filterType($event.target.value)">
      <option value="0">--All--</option>
      <option *ngFor='let type of pokemonsTypeFiltered' value={{type.type}}>
        {{type.type}}
      </option>
    </select>
    <select (change)="removeType($event.target.value)" class="main--typeList">
        <option value="0"> All </option>
        <option *ngFor = 'let type of pokemonsTypeFiltered' value= '{{type.type}}'> 
            {{type.type}} </option>
    </select>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="searchTerm">
    </div>
    <div class="list--box--item" *ngFor="let pokemon of pokemons | nameFilter:searchTerm;index as i"
      routerLink='/pokedex/{{pokemon.name}}'>
      <img class="list--box--item--logo"
        src="https://cdn3.iconfinder.com/data/icons/universal-icons-3/1000/pokeball_A-512.png" width="30px"
        height="30px" alt="pokeball">
        <div *ngIf='filterByType ; else block' routerLink='/pokedex/{{pokemon}}'>{{pokemon}}</div>
      <ng-template  #block> <span routerLink='/pokedex/{{pokemon.name}}'>{{pokemon.name}}</span></ng-template>
</div>
  </div>
</div>
