.main{
    margin-left: -350px;
    margin-top: 50px;
    background-color: white;
    // background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cd85dd3e-7bb0-4f58-a1e1-053a7763cd84/d84tnc4-221c208f-fcfa-48f6-8320-128ba4b1d1c2.png/v1/fill/w_1024,h_1697,strp/nintendo_game_boy_vector_by_cryoganix_d84tnc4-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTY5NyIsInBhdGgiOiJcL2ZcL2NkODVkZDNlLTdiYjAtNGY1OC1hMWUxLTA1M2E3NzYzY2Q4NFwvZDg0dG5jNC0yMjFjMjA4Zi1mY2ZhLTQ4ZjYtODMyMC0xMjhiYTRiMWQxYzIucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.9gCGU3cqmi9dUtqJZGH0g6RSoP4ceT6fNhflerWPnvA");
    background-size: cover;
    width: 700px;
    height: 950px;
    max-height: 100%;
    font-family:  Roboto;
    border: 5px solid black;
    border-radius: 23px; 
    // border-bottom-right-radius: 180px;
    box-sizing: content-box;  
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    &--options{
        margin: 0% 5% 0% 6%;
        width: 100%;
        color: white;
        margin-bottom: 5px;
        &--title{
            height: 70px;
            width: 90%;
            font-size: 40px;
            background-color: black;
            border-radius: 10px; 
            margin-bottom: 10px; 
            display: flex;     
            justify-content: center;
            align-items: center;
        }   
        &--buttonBlock{
            background-color: red;
            border-radius: 10px; 
            display: flex;    
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 75%;
            padding: 10px 50px 10px 50px;
            margin-bottom: 10px; 
            &--titleButton{
                font-size: 30px;
                letter-spacing: 1px;
            }
            &--button{
            padding-top: 20px 0px 20px 0px;
            font-weight: bold;
            font-size: 70px;
            font-weight: bold;
            margin-left: 10px;
            height: 40px;
            font-size: 20px;
            border: 1px solid white;
            border-radius: 15px;
            width: 120px;
            background-color: gray;
            color: white;
            }
        }
    }    
    &--listBlock{
        background-color: white;
        box-sizing: content-box;  
        border-radius: 10px; 
        background-color: rgb(148, 176, 39)e;
        height: 60%;
        width: 90%;
        overflow: auto;
        margin: auto;
        // border-bottom-right-radius: 180px;
        &--item{
            margin: 10px 50px 10px 50px; 
            background-color: lightgrey;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 10px 20px 10px 0px;
            text-transform: capitalize;
            letter-spacing: 1px;
            cursor: pointer;
            &--logo{
                margin: 0px 15px 0px 15px; 
            }
        }
        &--selected{
            background-color: chartreuse;
        }
    }
}


.main--listBlock::-webkit-scrollbar {
    width: 20px;
    background: lightgrey; 
}

.main--listBlock::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey; 
    border-radius: 10px;
    
}

.main--listBlock::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

.main--listBlock::-webkit-scrollbar-thumb:hover {
    background: lightgrey; 
}

