<div class="list">
  <div class="main">
    <br />

    <div class="main--options">
      <div class="main--options--title">
        Pokedex
      </div>

      <div class="main--options--buttonBlock">
        <div class="main--options--buttonBlock--titleButton">
          Search by Type
        </div>
        <select
          (change)="filterType($event.target.value)"
          class="-main--options--buttonBlock-button"
        >
          <option value="0" class="-main--options--buttonBlock--button">
            All
          </option>
          <option
            *ngFor="let pokemons of pokemonsTypeFiltered"
            value="{{ pokemons.type }}"
            class="-main--options--buttonBlock--button"
          >
            {{ pokemons.type }}
          </option>
        </select>
      </div>

      <div class="main--options--buttonBlock">
        <div class="main--options--buttonBlock--titleButton">Delete a Type</div>
        <select (change)="removeType($event.target.value)">
          <option class="-main--options--buttonBlock--button" value="0">
            All
          </option>
          <option
            *ngFor="let pokemons of pokemonsTypeFiltered"
            value="{{ pokemons.type }}"
            class="-main--options--buttonBlock--button"
          >
            {{ pokemons.type }}
          </option>
        </select>
      </div>

      <div class="main--options--buttonBlock">
        <div class="main--options--buttonBlock--titleButton">
          Search by Name
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder=" Search by Name"
            [(ngModel)]="searchTerm"
          />
        </div>
      </div>
    </div>

    <div class="main--listBlock">
      <div
        *ngFor="let pokemon of pokemons | nameFilter: searchTerm"
        class="main--listBlock--item"
      >
        <img
          class="main--listBlock--item--logo"
          src="https://www.nicepng.com/png/full/312-3126315_pokemon-pokmon-pokeball-pokball-pokemon-go-pokem-pokeball.png"
          width="40px"
          height="40px"
        />
        <div
          *ngIf="filterByType; else block"
          routerLink="/pokedex/{{ pokemon }}"
        >
          {{ pokemon }}
        </div>
        <ng-template #block
          ><span routerLink="/pokedex/{{ pokemon.name }}"
            >{{ pokemon.name }}
          </span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
