@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');
.main {
  margin-top: 35px;
  background-color: white;
  background-size: cover;
  width: 30%;
  height: 650px;
  max-height: 100%;
  font-family: 'Roboto';
  border: 5px solid black;
  border-radius: 23px;
  box-sizing: content-box;
  position: absolute;
  font-size: 15px;
  cursor: pointer;
}
.options {
  margin: 0% 5% 0% 6%;
  width: 100%;
  color: white;
  margin-bottom: 15px;
  .title {
    font-family: 'Roboto', sans-serif;
    height: 45px;
    width: 88%;
    font-size: 25px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    letter-spacing: 2px;
  }
  .search {
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 75%;
    padding: 12.5px 20px 5px 30px;
    &--text {
      font-size: 15px;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
    }
  }
  .buttons {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 75%;
    padding: 5px 20px 10px 30px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.list {
  box-sizing: content-box;
  border-radius: 10px;
  background-color: white;
  height: 460px;
  width: 90%;
  overflow: auto;
  margin: auto;
  margin-top: 10px;
  &--item {
    margin: 5px 25px 5px 25px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
.pokeball-icon {
  margin: 0px 7px 0px 7px;
}
.button {
  font-family: 'Roboto';
  letter-spacing: 1px;
  font-size: 13px;
  height: 25px;
  width: 100px;
  padding: 3px 0px 3px 22px;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.form-control {
  padding: 5px;
  width: 150px;
  font-size: 12px;
}

.list::-webkit-scrollbar {
  width: 10px;
  background: lightgrey;
}

.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgrey;
  border-radius: 10px;
}
.list::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.list::-webkit-scrollbar-thumb:hover {
  background: lightgrey;
}
.searchIcon {
  margin-right: 5px;
}

@media only screen and (max-width: 1029px) {
  .main {
    width: 25%;
    height: 78%;
    max-height: 100%;
    font-size: 15px;
    border: 1px solid black;
  }
  .options {
    margin: 0% 5% 0% 6%;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    .title {
      height: 45px;
      width: 88%;
      padding: 5px 0px;
    }
    .search {
      background-color: red;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 75%;
      padding: 12.5px 20px 5px 15px;
      &--text {
        font-size: 15px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
        letter-spacing: 2px;
      }
      &--buttonBlock1 {
        background-color: red;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20%;
        &--titleButton {
          font-size: 18px;
          letter-spacing: 1px;
          display: flex;
          align-items: center;
        }
      }
      &--buttonBlock2 {
        background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* height: 20%; */
        /* width: 75%; */
        /* padding: 10px 50px 20px 50px; */
        margin-bottom: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    .buttons {
      background-color: red;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 75%;
      padding: 5px 20px 10px 15px;
      margin-bottom: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .list {
    height: 880px;
    width: 90%;
    &--item {
      height: 10px;
      margin: 5px 20px 5px 15px;
    }
  }
  .button {
    font-size: 13px;
    height: 20px;
    width: 80px;
    padding: 1px 0px 3px 10px;
  }
  .form-control {
    padding: 2px;
    width: 100px;
    font-size: 10px;
  }
  .main--listBlock::-webkit-scrollbar {
    width: 7px;
    background: lightgrey;
  }
}
// @media only screen and (max-width: 440px) {
//   .main {
//     background-color: white;
//     background-size: cover;
//     font-family: 'Roboto';
//     border: 5px solid black;
//     border-radius: 23px;
//     box-sizing: content-box;
//     height: 73vh;
//     transform: translate(0%, 1%);
//     font-size: 21px;
//     cursor: pointer;
//     &--options {
//       // margin: 0% 5% 0% 6%;
//       width: 100%;
//       color: white;
//       margin-bottom: 30px;
//       &--title {
//         margin-left: 5%;
//         font-family: 'Roboto', sans-serif;
//         height: 4px;
//         width: 90%;
//         font-size: 21px;
//         background-color: black;
//         border-radius: 10px;
//         margin-bottom: 20px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 15px 0px;
//         letter-spacing: 2px;
//       }
//       &--buttonBlock1 {
//         background-color: red;
//         border-top-left-radius: 10px;
//         border-top-right-radius: 10px;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         height: 20%;
//         &--titleButton {
//           font-size: 18px;
//           letter-spacing: 1px;
//           display: flex;
//           align-items: center;
//         }
//       }
//       &--buttonBlock2 {
//         background-color: red;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         /* height: 20%; */
//         /* width: 75%; */
//         /* padding: 10px 50px 20px 50px; */
//         margin-bottom: 10px;
//         border-bottom-left-radius: 10px;
//         border-bottom-right-radius: 10px;
//       }
//     }
//     &--listBlock {
//       box-sizing: content-box;
//       border-radius: 10px;
//       background-color: white;
//       height: 56%;
//       width: 90%;
//       overflow: auto;
//       margin: auto;
//       margin-top: 10px;
//       &--item {
//         margin: 0px 0px 10px 0px;
//         background-color: lightgrey;
//         border-radius: 10px;
//         display: flex;
//         /* height: 42%; */
//         align-items: center;
//         text-transform: capitalize;
//         letter-spacing: 1px;
//         cursor: pointer;
//         &--logo {
//           margin: 0px 15px 0px 15px;
//         }
//       }
//       &--selected {
//         background-color: chartreuse;
//       }
//     }
//   }
//   .button {
//     font-family: Roboto;
//     letter-spacing: 1px;
//     font-size: 16px;
//     height: 30px;
//     width: 79px;
//     /* padding: 5px 0px 5px 45px; */
//     border-radius: 8px;
//     background-color: white;
//     color: black;

//     .form-control {
//       font-size: 14px;
//     }
//   }
//   .main--listBlock::-webkit-scrollbar {
//     width: 20px;
//     background: lightgrey;
//   }
//   .main--listBlock::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px lightgrey;
//     border-radius: 10px;
//   }
//   .main--listBlock::-webkit-scrollbar-thumb {
//     background: grey;
//     border-radius: 10px;
//   }
//   .main--listBlock::-webkit-scrollbar-thumb:hover {
//     background: lightgrey;
//   }
//   .icon {
//     margin-right: 10px;
//   }
// }
