<div *ngIf="this.pokemon"class="pokemonDisplay">
    <img src="../../assets/closeIcon.png" class="pokemonDisplay__Close" (click)="CloseDisplay()">
    <img src="../../assets/pokedexLeft.PNG" alt="pokedexmargin" class="pokemonDisplay__Pokedex--left">
    <img src="../../assets/pokedexRight.PNG" alt="pokedexmargin" class="pokemonDisplay__Pokedex--right">

  <div class="PokemonContainer">
        
            <h2 class="PokemonContainer__Name"><span>#{{this.pokemon.id}} - </span>{{this.pokemon.name}}</h2>
        
            <div class="PokemonPhotosContainer">
                <img class="PokemonPhotosContainer__Sprite" src={{this.photo.link}} alt="">
                <ul class="PokemonPhotosContainer__Menu">
                    <li class="PokemonPhotosContainer__Option" (click)="ChangeSex()"> F/M </li>
                    <li class="PokemonPhotosContainer__Option"(click)="ChangePerspective()"> Change perspective </li>
                    <li class="PokemonPhotosContainer__Option"(click)="ChangeShiny()"> Shiny </li>
                </ul>
            </div>

            <div class="PokemonDataContainer">
                <ul class="DetailsList">
                        <li class="DetailsList__Detail" >Type: <span class="DetailsList__Element" *ngFor="let tipo of this.pokemon.types">{{tipo.type.name}}</span></li>
                        <li class="DetailsList__Detail" >Abilities: <span class="DetailsList__Element" *ngFor="let abilitie of this.pokemon.abilities">{{abilitie.ability.name}}</span></li>
                        <li class="DetaislList__Detail">{{this.pokemon.description}}</li>
                </ul>
                
            </div>
    
  </div>

  
</div>