.pokemonDisplay{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0.25);
    position: relative;
    &__Name{
        padding-top: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    &__Close{
        width: 3rem;
        position: absolute;
        left:92%;
        top:5%;
        &:hover{
            cursor: pointer;
        }
    }
}
.PokemonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PokemonPhotosContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__Sprite{
        width: 15rem;
    }
    &__Menu{
        list-style: none;
        display: flex;
        padding: 0;
    }
    &__Option{
        cursor: pointer;
        display: inline-block;
        padding:.8rem;
        font-size: 1.2rem;
        background-color: blue;
        color: white;
        border-radius: 10px;
        &:not(:last-child){
            margin-right: 5px;
        }
    }
}

.DetailsList{
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    &__Detail{
        margin-bottom: 1rem;
    }
    &__Element{
        margin-right: .5rem;
        text-transform: capitalize;            
        }
    
}