.pokemonDisplay{
    width: 50%;
    background-color: red;
    &__Name{
        text-align: center;
        text-transform: uppercase;
    }
}
.PokemonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PokemonPhotosContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__Sprite{
        width: 15rem;
    }
    &__Menu{
        list-style: none;
    }
    &__Option{
        display: inline-block;
        padding:.5rem;
        background-color: blue;
        color: white;
        border-radius: 10px;
        &:not(:last-child){
            margin-right: 5px;
        }
    }
}

.DetailsList{
    list-style: none;
    font-size: 1.5rem;
    &__Detail{
        margin-bottom: 1rem;
    }
    &__Element{
        margin-right: .5rem;
        text-transform: capitalize;            
        }
    
}